KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_asm.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_asm.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/interrupts_asm.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/kb.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/serial_log.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/tty.o \
